body{
    background-color: rgba(172, 175, 124, 0.542);
}
header{
    border: 3px black solid;
    border-radius: 16px;
    margin: 1em auto;
    text-align: center;
}
section table thead tr th{
    text-align: center;
}
.modal{
    border-radius: 16px;
}