body{
    background-color: rgb(105, 182, 196);
}
header{
    border: 3px black solid;
    border-radius: 16px;
    margin: 1em auto;
    text-align: center;
}
section table thead tr th{
    text-align: center;
}
.modal{
    border-radius: 16px;
}
footer
{
    width:100%;
}
form input{
    text-transform: uppercase;
}
.tableLibros {
    width: 100px;
    margin: 0 auto;
  }
.contenidos{
    justify-content: center;
}